.venv/
__pycache__/
.ipynb_checkpoints/

models/
generated_videos/
notebooks/artifacts/
artifacts/raw_videos/
artifacts/pretrain/
artifacts/research/
lunarlander_expert/videos/
lunarlander_expert/models/

*.pt
*.mp4
*.avi
*.webm
*.part

.DS_Store
.env
